{% extends 'base.html'%}
{% load static %}
{%block content%}
<!-- AboutPage -->

<section class="about" id="about">
  <div class="about-img">
     <img src="{% static 'images/Skincare.JPG'%}" width="400px" >
  </div>
  <div class="about-text">
    <h2> About Me</h2>
    <h5> Just <span> a Dev </span></h5>
    <p> I am a backend developer with a strong practical experience in web development. Responsible for designing,
    developing, testing and maintaining web applications that are efficient, reliable and easy to use
    I have experience with a variety of programming languages and platforms and have worked icon
    different project. A quick avid learner and open to working on challenging problems.</p>
  </div>
</section>

{% endblock %}