{% load static %}
{%  load crispy_forms_tags%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE+edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Did Coding Limited & James Granger Design ">
    <meta>
    <title> Phenolah's Portfolio Website </title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="canonical" href="{{request.post}}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static "/css/style.css" %}">
</head>
<body>
<!-- Start header  -->
<header class='header'>
     <a href="#" class="logo"> Phenolah </a>
     <div class="bx bx-menu" id="menu-icon" ></div>
<!-- navbar section -->
     <link rel="stylesheet" type="text/css" href="{% static "/css/style.css"%}">
     <ul class="navbar">
     <li><a href="{%url 'homepage'%}"><i class="fas fa-house-user"></i> <span>Home</span></a> </li>
     <li><a href="{%url 'about'%}"><i class="fas fa-user"></i> <span>About</span></a> </li>
     <li><a href="{%url 'skills'%}"><i class="fas fa-graduation-cap"></i> <span>Skills</span></a> </li>
     <li><a href="{%url 'portfolio'%}"><i class="fas fa-folder-open"></i> <span>Portfolio</span></a> </li>
     <li><a href="{%url 'certificate'%}"><i class="fas fa-certificate"></i> <span>Certs</span></a> </li>
     <li><a href="{%url 'blog'%}"><i class="fas fa-blog"></i> <span>Blog</span></a> </li>
     </ul>
     <button  class='h-btn'> <i class="fas fa-address-book"></i> <a  href='{% url 'contact'%}' > Let's Talk </a> </button>
</header>
{% block content%}
{% endblock %}
<div class="footer">
  <p> Copyright @ {% now 'Y'%} Phenolah Awuor. All Rights Reserved. </p>
</div>
</body>
</html>
