{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- blog heading -->
<section class="blog-content">
<div class="blog-heading">
    <div class="center">
        <span> Technical blogs </span>
        <h3> I craft clear and concise
        documentation for both technical
        and non-technical audiences,
        </h3>
    </div>
</div>
{% for blog in blogs %}
<div class="blog-page">
  <div class="container">
     <div class="row">
        <div class="col-3">
        {% if blog.image.url %}
             <img src="{{blog.image.url}}"  alt="" width=250 height=250 >
        {% else %}
              <p>image does not exist </p>
         {% endif %}
             <h3> {{blog.name}} </h3>
             <h3> {{blog.description}}</h3>
        </div>
     </div>
  </div>
</div>

{% endfor %}
</section>

{% endblock%}

{% endblock%}
