{% extends 'base.html' %}
{% load static %}
{% block content %}

<! ----------- blog heading ---------- >
<section id="blog">
    <div class="blog-heading">
        <span> Your Skincare Fairymother</span>
        <h3> Skin blogs</h3>
    </div>

 {% for blog in blogs %}
    <div class="blog-page">
    <div class="container">
        <div class="row">
            <div class="col-3">
            {% if image %}
                <img src="{{blog.image.url}}"  alt="" width=50 height=50>
                {% else %}
                <p> image doesnt exist </p>

                {% endif %}
                <br>
                <br>
                <h3> {{blog.name}}</h3>
                <br>
                <br>
                <h3> {{blog.description}}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</section>

{% endblock%}
