{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- blog heading -->
<section class="blog-content">
  <div class="blog-heading">
    <div class="center">
      <b> Technical blogs </b>
      <h3> I craft clear and concise
        documentation for both technical
        and non-technical audiences.
      </h3>
    </div>
  </div>

  <div class="blog-page">
    {% for blog in blogs %}
    <div class="col-3">
      {% if blog.image.url %}
      <a href="{{ blog.get_absolute_url }}">
        <img src="{{ blog.image.url }}" alt="" width=250 height=250>
      </a>
      <br>
      <br>
      {% else %}
      <p>image does not exist </p>
      {% endif %}
      <h3> {{ blog.name }} </h3>
      <h4> {{ blog.description }}</h4>
    </div>
    {% endfor %}
  </div>
</section>


{% endblock%}
