
{% extends 'base.html'%}
{% load static %}
{% block content %}


<!-- CertificatePage -->
<section class="certificate">
<div class="container">
  <div class='center'>
    <i class='fas fa-certificate'></i>
    <h3> My Certificates </h3>
    <p> Here are certificates i have acquired </p>
    <br>
  </div>
</div>
{% for certificate in certificates%}
{% if certficate.is_active%}
<div class="container">
  <div class='cert-content'>
    <div class='col-2' >
       <div class='row'>
           <h3> {{certificate.name}} </h3>
           <h4> {{certificate.title}} </h4>
           <p>{{certificate.description }}<p>
        </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
</section>



{% endblock %}
