{% extends 'base.html'%}
{% load static %}
{%block content%}
<!-- ContactPage -->

<section class='contact' id='contact'>
  <div class="contact-form">
  <h2>Hire Me</h2>
  <p> I am available for freelance work </p>

  <form action="" method="POST">
      {%csrf_token%}
      <h3> Name </h3>
      <div>
      {{form.name}}
      </div>

      <h3> Email </h3>
      <div>
      {{form.email}}
      </div>

       <h3> Subject </h3>
      <div>
      {{form.subject}}
      </div>

       <h3> Message </h3>
      <div class="message">
      {{form.message}}
      </div>
     <button class="send" type="submit"> Submit </button>

  </form>
  </div>
  <div >
    <form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{m_form|crispy}}
    <button type="submit" class="btn btn-primary"> confirm</button>
    </form>
  </div>
</section>

{%endblock%}
