{% extends 'base.html'%}
{% load static %}
{%  load crispy_forms_tags%}
{% load cloudinary %}
{%block content%}

<!-- HomePage -->
<section class="home" id="home">
   <div class='main-home'>
   <div class="home-text">
   <div class='row'>
   <div class="column-2"></div>
     <h4> Hello, my name is </h4>
     <h1> Phenolah <span> Awuor</span></h1>
     <h3> I am a Backend web developer <h3>
     </div>
     <div class="column-2">
     <img src="{% static 'images/avatar.JPG'%}" width="350px" style="float: right; position:absolute; top:80; right:100;">
     </div>
     </div>
   </div>
   <div class="col-2">
   {% for home in home %}
      <div class="buttons-container">
      <button><a href="{{home.cv.url}}" class="download-btn">Download CV</a></button>
      <select name="" id="" class="dropbtn">
      <option  class="drop"value="" selected disabled > Contact Me </option>
      <button href="{{home.linkedin }}"><option >Linkedin</option></button>
      <option value="{{ home.github }}">Github</option>
      <option  href="">email</option>
      <option href="">phone</option>
      {% endfor %}
      </select>

   </div>
   </div>
</section>

<!-- AboutPage -->

<section class="about" id="about">
  <div class="about-img">
     <img src="{% static 'images/about.jpg'%}" width="400px" >
  </div>
  <div class="about-text">
    {% for about in about%}
    <h2> {{about.subject}}</h2>
    <h6> Just <span> a Dev </span></h6>
    <p> {{about.description}}</p>
    <h5> languages </h5>
    <h4> {{about.languages}}</h4>
    <br>
    <h5> Frameworks & Libraries </h5>
    <h4> {{about.frameworks}}</h4>
    <br>
    <h5> Others </h5>
    <h4> {{about.other}}</h4>
    <br>

    {% endfor %}
  </div>
</section>

<!-- SkillsPage -->

<section class="skills" id="skills">
   <div class="center">
     <i class='fas fa-graduation-cap'></i>
     <h3>My Skills</h3>
     <p> Here are the skills i have acquired<p>

   </div>
   <div class="skill-content">
   {% for skill in skills %}
   <div class="row">
   {% if skill.image.url %}

     <i > <img class='skillimage' src="{{skill.image.url }}"></i>
     {% else %}
     <p> {{skill.name}}</p>
     {% endif%}
     <h3>{{skill.name}}</h3>
     <p> {{skill.description}}</p>
     </div>
     </div>
     <br>
     {% endfor %}
</section>
<!-- PortfolioPage -->

<section class='portfolio' id='portfolio'>
   <div class='center'>
      <h2> A snippet of some of my Projects! </h2>
      <p>A showcase of some of my Projects I designed from scratch.
      Both self initiated and tutorial based.
      For more projects, you can visit my Github account where I showcase all my latest projects.</p>
   </div>
 {% for portfolio in portfolios %}
   <div class='portfolio-content'>
      <div class='box'>
      {% if image %}
         <img src="{{portfolio.image.url}}" width="250px" >
         {% else %}
         <p> image does not exist</p>
         {% endif %}
         <p>{{portfolio.title}}</p>
         <h3> {{ portfolio.tools }}</h3>
         <h5> {{portfolio.brief_description}} </h5>
      </div>
{% endfor %}

   </div>
</section>

<!-- BlogPage -->

<section id="blog">
    <div class="blog-heading">
        <span> Your Skincare Fairymother</span>
        <h3> Skin blogs</h3>
    </div>

 {% for blog in blogs %}
    <div class="blog-page">
    <div class="container">
        <div class="row">
            <div class="col-3">
            {% if image %}
                <img src="{{blog.image.url}}"  alt="" width=50 height=50>
                {% else %}
                <p> image doesnt exist </p>

                {% endif %}
                <br>
                <br>
                <h3> {{blog.name}}</h3>
                <br>
                <br>
                <h3> {{blog.description}}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</section>

<!-- ContactPage -->

<section class='contact' id='contact'>
  <div class="contact-form">
  <h2>Hire Me</h2>
  <p> I am available for freelance work </p>
  <form action="">
      <h3> Name </h3>
      <div>
      {{form.name}}
      </div>

      <h3> Email </h3>
      <div>
      {{form.email}}
      </div>

       <h3> Subject </h3>
      <div>
      {{form.subject}}
      </div>

       <h3> Message </h3>
      <div class="message">
      {{form.message}}
      </div>

  </div>
  <div class='contact-img'>
      <img src="{% static 'images/Skincare.JPG'%}" width="400px" >
  </div>
</section>
{% endblock%}
