{% extends 'base.html'%}
{% load static %}
{%  load crispy_forms_tags%}
{%block content%}

<!-- HomePage -->
<section class="home" id="home">
   <div class='main-home'>
   <div class="home-text">
   <div class='row'>
   <div class="column-2"></div>
     <h4> Hello, my name is </h4>
     <h1> Phenolah <span> Awuor</span></h1>
     <h3> I am a Backend web developer <h3>
     </div>
     <div class="column-2">
     <img src="{% static 'images/avatar.JPG'%}" width="350px" style="float: right; position:absolute; top:100; right:100;">
     </div>
     </div>
   </div>
   <div class="col-2">
   {% for home in home%}
      <div class="buttons-container">
      <form action="" method='POST' enctype="multipart/form-data" >
      {%csrf_token%}
      <button><a href="{{home.cv.url}}" class="download-btn">Download CV</a></button>
      </form>
      <button class="dropbtn">
      <select name="" id="" class="">
      <option  class="drop"value="" selected disabled > Contact Me </option>
      <option href="">Email</option>
      <option href="">Phone Number</option>
      <option href="">Linkedin</option>
      <option href="">Github</option>
      </select>
      </button>
    {% endfor %}
   </div>
   </div>
</section>
<section class="about" id="about">
  <div class="about-img">
     <img src="{% static 'images/about.jpg'%}" width="400px" >
  </div>
  <div class="about-text">
    {% for about in about%}
    <h2> {{about.subject}}</h2>
    <h5> Just <span> a Dev </span></h5>
    <p> {{about.description}}</p>
    {% endfor %}
  </div>
</section>
<section class="skills" id="skills">
   <div class="center">
     <i class='bx bx-cast'></i>
     <h3>My Skills</h3>
     <p> Here are the skills i have acquired<p>

   </div>
   {% for skill in skills %}
   <div class="skill-content">

   <div class="row">
   {% if image.url%}
   <form action="" method='POST' enctype="multipart/form-data" >
      {%csrf_token%}
     <img src="{{skill.image.url }}">
     <i class='bx bx-cast'> <img src="{{skill.image.url }}"></i>
     </form>
     {% else %}
     <p> image does not exist</p>
     {% endif%}
     </form>

     <h3>{{skill.name}}</h3>
     <p> {{skill.description}}</p>
     </div>

     </div>
     {% endfor %}
</section>
<section class='portfolio' id='portfolio'>
   <div class='center'>
      <h2> A snippet of some of my Projects! </h2>
      <p>A showcase of some of my Projects I designed from scratch.
      Both self initiated and tutorial based.
      For more projects, you can visit my Github account where I showcase all my latest projects.</p>
   </div>

   <div class='portfolio-content'>
      <div class='box'>
         <img src="{% static 'images/Skincare.JPG'%}" width="250px" >
         <p>Skinhub Website </p>
         <h5> This is my skinhub project </h5>
      </div>

       <div class='box'>
         <img src="{% static 'images/Skincare.JPG'%}" width="400px" >
         <p>Skinhub Website </p>
         <h5> This is my skinhub project </h5>
      </div>

      <div class='box'>
         <img src="{% static 'images/Skincare.JPG'%}" width="400px" >
         <p>Skinhub Website </p>
         <h5> This is my skinhub project </h5>
      </div>

      <div class='box'>
         <img src="{% static 'images/Skincare.JPG'%}" width="400px" >
         <p>Skinhub Website </p>
         <h5> This is my skinhub project </h5>
      </div>

   </div>
</section>
<! ----------- blog heading ---------- >
<section id="blog">
    <div class="blog-heading">
        <span> Your Skincare Fairymother</span>
        <h3> Skin blogs</h3>
    </div>


    <div class="blog-page">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="{% static "image/Skincare.JPG"%}"  alt="">
                <br>
                <br>
                <h3> Hyperpigmentation Diary</h3>
            </div>
            <div class="col-3">
                <img src="{% static "image/Skincare.JPG"%}"  alt="">
                <br>
                <br>
                <h3> Hydrated babe</h3>
            </div>
            <div class="col-3">
                <img src="{% static "image/Skincare.JPG"%}"  alt="">
                <br>
                <br>
                <h3> Sunscreen importance</h3>
            </div>
        </div>
    </div>
</div>
</section>



<section class='contact' id='contact'>
  <div class="contact-form">
  <h2>Hire Me</h2>
  <p> I am available for freelance work </p>
  <form action="">
      <h3> Name </h3>
      <div>
      {{form.name}}
      </div>

      <h3> Email </h3>
      <div>
      {{form.email}}
      </div>

       <h3> Subject </h3>
      <div>
      {{form.subject}}
      </div>

       <h3> Message </h3>
      <div class="message">
      {{form.message}}
      </div>

  </div>
  <div class='contact-img'>
      <img src="{% static 'images/Skincare.JPG'%}" width="400px" >
  </div>
</section>
{% endblock%}
