{% extends 'base.html'%}
{% load static %}
{% load cloudinary %}
{%block content%}
<!-- PortfolioPage -->

<section class='portfolio' id='portfolio'>
   <div class='center'>
      <h2> A snippet of some of my Projects! </h2>
      <p>A showcase of some of my Projects I designed from scratch.
      Both self initiated and tutorial based.
      For more projects, you can visit my Github account where I showcase all my latest projects.</p>
   </div>
 {% for portfolio in portfolios %}
 {% if portfolio.is_active%}
   <div class='row'>
     <div class='column-2'>
   <div class='portfolio-content'>

      <div class='box'>

      {% if portfolio.image.url %}

         <img src="{{portfolio.image.url}}" width="250px" >
         {% else %}
         <p> {{portfolio.title}}</p>

         {% endif %}
         <p>{{portfolio.title}}</p>
         <h3> {{ portfolio.tools }}</h3>
         <h5> {{portfolio.brief_description}} </h5>
         <a href="{{portfolio.get_absolute_url}}">View Project <span>&#x2192;</span></a>
      </div>
      </div>
       </div>


{% endif %}
{% endfor %}

   </div>
</section>
{% endblock%}
