{% extends 'base.html'%}
{% load static %}
{%block content%}
<!-- SkillsPage -->

</section>
<section class="skills" id="skills">
   <div class="center">
     <i class='bx bx-cast'></i>
     <h3>My Skills</h3>
     <p> Here are the skills i have acquired<p>
   </div>
   <div class="skill-content">
   <div class="row">
     <i class='bx bx-cast'></i>
     <h3>Pythonista</h3>
     <p> Writing clean, well organised and easy to understand python programmes.
     Planning to venture into Machine Learning and AI later on.
     I use Django for my backend projects because it's ridiculously fast, secure and scalable.
     Also familiar with the Rest Framework for creating and maintaining the interface between the software and the user.</p>
   </div>

   <div class="row">
     <i class='bx bx-cast'></i>
     <h3>Cloud</h3>
     <p> Writing clean, well organised and easy to understand python programmes.
     Planning to venture into Machine Learning and AI later on.
     I use Django for my backend projects because it's ridiculously fast, secure and scalable.
     Also familiar with the Rest Framework for creating and maintaining the interface between the software and the user.</p>
   </div>


   <div class="row">
     <i class='bx bx-cast'></i>
     <h3> HTML5/CSS</h3>
     <p> Creating the structure and layout of web pages using HTML as well as
      adding content and style to them using CSS and it's frameworks
      such as Tailwind, Bootstrap and SASS/SCSS</p>
      </div>


   <div class="row">
     <i class='bx bx-cast'></i>
     <h3> Linux </h3>
     <p> I prefer Linux to other operating systems for it's stability and ease of use.
     Mastered some of it's basic commands.</p>
     </div>
     </div>

</section>
{%endblock%}